Package: ph.telegra.telegramcalltweak
Name: TelegramCallTweak
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Custom call enhancements (Screen sharing & Microphone routing)
Author: oceanondawave
Section: Tweaks
